<tests>
<!--
  Testing the algorithmic language defined in kalg.
-->



<!-- alk -->
  <test
      definition="alk.k"
      programs="programs/"
      results="programs"
      extension="alk"
  >
    <program name="dfsnerec.alk">
      <krun-option name="-cST" 
                   value="D |-> { n |-> 3 
                                  a |-> { 0 |-> [1, 2] 
                                          1 |-> [2, 0]
                                          2 |-> [0] } } 
                          i0 |-> 1
                          p |-> { .Map }
                          S |-> { .Map }" />  
    </program> 
    <program name="dfsrec.alk">
      <krun-option name="-cST" 
                   value="D |-> { n |-> 3 
                                  a |-> { 0 |-> [1, 2] 
                                          1 |-> [2, 0]
                                          2 |-> [0] } } 
                          i0 |-> 1
                          p |-> { .Map }
                          S |-> { .Map }" />  
    </program> 
    <program name="list-with-arrays.alk">
      <krun-option name="-cST" 
                   value="l |-> { length |-> 2
                                  arr |-> { 0 |-> 7 1 |-> 8 2 |-> 9 3 |-> 0} }"
      />  
    </program> 
    <program name="fun-with-list.alk">
      <krun-option name="-cST" 
                   value="l |-> [1, 2, 3]"
      />  
    </program> 
    <program name="list1.alk">
      <krun-option name="-cST" 
                   value="l |-> [1, 2, 3]"
      />  
    </program> 
    <program name="list2.alk">
      <krun-option name="-cST" 
                   value="L1 |-> [.Vals] L2 |-> [.Vals]"
      />  
    </program> 
    <program name="struct1.alk">
      <krun-option name="-cST" 
                   value="a |-> 2
                          p |-> { x |-> 5 y |-> 23}"
      />  
    </program> 
    <program name="struct2.alk">
      <krun-option name="-cST" 
                   value="lg |-> 0
                           s |-> {a |-> { x |-> 5
                                          y |-> 23}
                                  b |-> { x |-> 2
                                          y |-> 12}}"
      />  
    </program> 
    <program name="sumlist.alk">
      <krun-option name="-cST" 
                   value="L |-> [1, 2, 3]"
      />  
    </program> 

    <program name="random.alk"> 
      <krun-option name="-cST" value="random_seed |-> 1212" />
    </program> 

  </test> 
</tests>
