<tests>
<!--
  Testing the algorithmic language defined in kalg.
-->



<!-- prog-equiv -->
  <test
      definition="alk.k"
      programs="programs/"
      extension="alk"
  >
    <program name="programs/dfsnerec.alk">
      <krun-option name="-cST" 
                   value="D |-> { n |-> 3 
                                  a |-> { 0 |-> [1, 2, .Vals] 
                                          1 |-> [2, 0, .Vals]
                                          2 |-> [0, .Vals] } } 
                          i0 |-> 1
                          p |-> { .Map }
                          S |-> { .Map }" />  
      <krun-option name="-cGST" value=".Map" />
    </program> 
    <program name="programs/dfsrec.alk">
      <krun-option name="-cGST" 
                   value="D |-> { n |-> 3 
                                  a |-> { 0 |-> [1, 2, .Vals] 
                                          1 |-> [2, 0, .Vals]
                                          2 |-> [0, .Vals] } } 
                          i0 |-> 1
                          p |-> { .Map }
                          S |-> { .Map }" />  
      <krun-option name="-cST" value=".Map" />
    </program> 
    <program name="programs/list-with-arrays.alk">
      <krun-option name="-cST" 
                   value="l |-> { length |-> 2
                                  arr |-> { 0 |-> 7 1 |-> 8 2 |-> 9 3 |-> 0} }"
      />  
      <krun-option name="-cGST" value=".Map" />
    </program> 
    <program name="programs/fun-with-list.alk">
      <krun-option name="-cST" 
                   value="l |-> [1, 2, 3, .Vals]"
      />  
      <krun-option name="-cGST" value=".Map" />
    </program> 
    <program name="programs/list1.alk">
      <krun-option name="-cST" 
                   value="l |-> [1, 2, 3, .Vals]"
      />  
      <krun-option name="-cGST" value=".Map" />
    </program> 
    <program name="programs/list2.alk">
      <krun-option name="-cST" 
                   value="L1 |-> [.Vals] L2 |-> [.Vals]"
      />  
      <krun-option name="-cGST" value=".Map" />
    </program> 
    <program name="programs/struct1.alk">
      <krun-option name="-cST" 
                   value="a |-> 2
                          p |-> { x |-> 5 y |-> 23}"
      />  
      <krun-option name="-cGST" value=".Map" />
    </program> 
    <program name="programs/struct2.alk">
      <krun-option name="-cST" 
                   value="lg |-> 0
                           s |-> {a |-> { x |-> 5
                                          y |-> 23}
                                  b |-> { x |-> 2
                                          y |-> 12}}"
      />  
      <krun-option name="-cGST" value=".Map" />
    </program> 
    <program name="programs/sumlist.alk">
      <krun-option name="-cST" 
                   value="L |-> [1, 2, 3, .Vals]"
      />  
      <krun-option name="-cGST" value=".Map" />
    </program> 

  </test> 
</tests>
